.gridWrapper {
  --grid-item-width: 35rem;
  --grid-column-gap: 2rem;
  --grid-row-gap: 2rem;
}
.listWrapper {
  --grid-item-width: 50rem;
  --grid-column-gap: 4rem;
  --grid-row-gap: 2rem;
}
.gridWrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(var(--grid-item-width), 1fr));
  grid-auto-rows: repeat(auto-fill, minmax(var(--grid-item-width), 1fr));
  gap: var(--grid-column-gap) var(--grid-row-gap);
}
.listWrapper {
  display: grid;
  grid-template-columns: 1fr;
  max-width: 80rem;
  margin: 0 auto;
  gap: var(--grid-column-gap) var(--grid-row-gap);
}
.noPhotosWrapper {
  width: 100%;
  font-size: var(--font-16);
  text-align: center;
}
@media only screen and (max-width: 1000px) {
  .listWrapper {
    --grid-item-width: 30rem;
  }
}
@media only screen and (max-width: 480px) {
  .gridWrapper {
    --grid-item-width: 100%;
  }
  .listWrapper {
    --grid-item-width: 100%;
  }
}
